*{
    margin: 0;
    padding: 0;
}

/* primary colour */
.primary-colour{
    color: #FD6E0A;
}
body{
    width: 100%;
}
/* btn-primary */
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    color: white;
    padding: 19px 36px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
}
.btn-primary:hover{
    border: 1px solid #FD6E0A;
    background-color: white;
    color:  #FD6E0A;
}

.btn-primary1{
    background-color: #ffffff;
    border: none;
    color: #FD6E0A;
    padding: 19px 36px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #FD6E0A;

}
.btn-primary1:hover{
    border: 1px solid #ffffff;
    background-color: #FD6E0A;
    color:  #ffffff;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* Nav */
header{
    height: 837px;
    width: 100%;
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: top left ;

}
.nav-class{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 50px 200px;
}
nav a {
    font-size: 60px;
    font-weight: 800;
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
   
}
nav li a{
    text-decoration: none;
    color:#474747 ;
    font-size: 20px;
    font-weight: 400;
    padding: 19px 36px;
     
}
nav li a:hover{
    background-color: #474747;
    color: white;
}

nav button{
    margin-left: 51px;
}


/* HERO */
.hero{
    display: flex;
    justify-content: space-between;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
   
}
.info{
    display: flex;
    flex-direction: column;
     justify-content: center; 
    margin-left: 230px ;
    margin-right: 100px;
    gap: 20px;

}

.hi{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.name{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}
.details{
    font-size: 18px;
    color: #474747;
    font-weight: 400;
    max-width: 585px;
}

.btn-container{
    display: flex;
    margin: 20px 0;
    justify-content: left;
    flex-direction: row;
    gap: 20px;
    
 
   
}
.btn-container button a {
    text-decoration: none;
}
.btn-container button i{
    margin: 0 10px 0 0;
}

.hero img {
   height: 676px;
   width: 584px;
   margin-right: 25px; 
}

/* About */

.about{
    width: 80%;
    height: 550px;
    margin: 130px auto;
    background-color: #f0d6c4;
    display: flex;
    justify-content: center ;
    align-items: center;
    
   
}
.about-container{
    background-color: #181818;
    width: 70%;
    text-align: center;
    background-color: white;

}

.about-container h2{
    font-size: 32px;
    font-weight: bold;
    margin: 20px auto;
}
.about-details{
    font-size: 18px;
    color: #474747;
    font-weight: 400;
    margin: 20px auto;
    padding: 0 30px;
}
.about-me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    font-weight: bold;
    /* text-transform: uppercase; */
    font-size: 20px;
}
.about-me .name {
    font-size: 20px;
}
.about-me label{
    font-weight: 400;
    color: #474747;
    font-size: 20px;
}

.do{
    width: 80%;
    height: 595px;
    margin: 130px auto;
    padding: 0 50px;
    /* background-color: #f0d6c4; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.what{
    margin: 50px auto;
    width: 70%;
}
.what h2{
    margin: 20px 0;
}
.do-flex
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}
.do-box{
    width: 20%;
    height:370px;
    padding: 20px;
    /* background-color: #FD6E0A; */
    margin: 20px auto;
}
/* .do-box:hover{
    width: 20%;
    max-height: 350px;
    padding: 20px;
    background-color: #ff7c1e;
    margin: 20px auto;
    border-radius: 20px;
} */

.do-box img{
    margin: 10px auto;
}

.do-box h2{
    margin: 10px auto ;
    font-size: 20px;
    font-weight: bold;
}
.do-box p{
    color: #474747;
    font-weight: 400;
    font-size: 18px;
    margin: 10px auto;
 
}

/* Box Hover */
#box1:hover img{
    display: none;
}

#box1:hover {
    background-image: url(../images/icons/js.png);
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#box1:hover h2 {
    /* z-index: 1; */
    color: #ffffff;
    font-size: 24px;
}
#box1:hover p {
    /* z-index: 1; */
    color: #000000;
    font-weight: bold;
}

#box2:hover img{
    display: none;
}

#box2:hover {
    background-image: url(../images/icons/react.png);
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#box2:hover h2 {
    /* z-index: 1; */
    color: #003985;
    font-size: 24px;
}
#box2:hover p {
    /* z-index: 1; */
    color: #000000;
    font-weight: bold;
}


#box3:hover img{
    display: none;
}

#box3:hover {
    background-image: url(../images/icons/nodejs.png);
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#box3:hover h2 {
    /* z-index: 1; */
    color: #018a23;
    font-size: 24px;
}
#box3:hover p {
    /* z-index: 1; */
    color: #000000;
    font-weight: bold;
}

#box4:hover img{
    display: none;
}

#box4:hover {
    background-image: url(../images/icons/mongo.png);
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#box4:hover h2 {
    /* z-index: 1; */
    color: #04a319;
    font-size: 24px;
}
#box4:hover p {
    /* z-index: 1; */
    color: #ffffff;
    font-weight: bold;
}


/* REsume */
.resume
{
    height: 877px;
    width: 100%;
    margin: 50px auto;
    /* background-color: #FD6E0A; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resume > h2{
    text-align: center;
    font-size:35px;
    font-weight: bold;
    margin: 20px auto;
}

.resume-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* background-color: #003985; */
    padding:0 30px;

}
.edu-container{
    text-align: left;
    width: 100%;
    padding: 0 50px;
    
}
.experience-container{
    text-align: left;
    width: 100%;
    padding: 0 50px;
    
}


.resume-title{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    text-align: left;
}
.edu{
    margin:20px 0 0 0;
    /* width: 50%; */
    height: 200px;
    text-align: left;
}
.edu-title{
    font-size: 25px;
    font-weight: bold;
    color:#474747 ;
    margin: 10px 0;
}
.edu-university{
    font-size: 20px;
    font-weight: 700;
    color: #757575;
    margin: 10px 0;
}
.edu-details{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin: 10px auto;
    
}





