*{
    margin: 0;
    padding: 0;
}

/* primary colour */
.primary-colour{
    color: #FD6E0A;
}
/* btn-primary */
.btn-primary{
    background-color: #FD6E0A;
    border: none;
    color: white;
    padding: 19px 36px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
}
.btn-primary:hover{
    border: 1px solid #FD6E0A;
    background-color: white;
    color:  #FD6E0A;
}

.btn-primary1{
    background-color: #ffffff;
    border: none;
    color: #FD6E0A;
    padding: 19px 36px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #FD6E0A;

}
.btn-primary1:hover{
    border: 1px solid #ffffff;
    background-color: #FD6E0A;
    color:  #ffffff;
}

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* Nav */
header{
    height: 837px;
    width: 100vw;
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: top left ;

}
.nav-class{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 50px 200px;
}
nav a {
    font-size: 60px;
    font-weight: 800;
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
   
}
nav li a{
    text-decoration: none;
    color:#474747 ;
    font-size: 20px;
    font-weight: 400;
    padding: 19px 36px;
     
}
nav li a:hover{
    background-color: #474747;
    color: white;
}

nav button{
    margin-left: 51px;
}


/* HERO */
.hero{
    display: flex;
    justify-content: space-between;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
   
}
.info{
    display: flex;
    flex-direction: column;
     justify-content: center; 
    margin-left: 230px ;
    margin-right: 100px;
    gap: 20px;

}

.hi{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.name{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}
.details{
    font-size: 18px;
    color: #474747;
    font-weight: 400;
    max-width: 585px;
}

.btn-container{
    display: flex;
    margin: 20px 0;
    justify-content: left;
    flex-direction: row;
    gap: 20px;
    
 
   
}
.btn-container button a {
    text-decoration: none;
}
.btn-container button i{
    margin: 0 10px 0 0;
}





.hero img {
   /* height: 676px; */
   width: 584px;
   margin-right: 25px;
   
}


